body{
    
    background-color: rgb(240, 240, 238);
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    margin: 0;
    padding: 0;
       
}
#registroForm{
    background-color: rgb(219, 220, 207);
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
    margin: 10px;
    padding: 25px;
   
}
#titulo{
    color: orange;
    font-size: 25px;
    text-shadow: 1px 1px 2px white;

}
label{
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}
label.inline{
    display: inline-block;
}
input, select{
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 8px;
   
}
input[type="checkbox"]{
    margin-bottom: 10px;
    margin-top: 15px;
    
}
input[type="text"],
input[type="email"]
input[type="number"]
select{
    width: 100%;
    
}
input[type="submit"]{
    background-color: orange;
    border: none;
    border-radius: 8px;
    color: aliceblue;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 15px;
    transition: .5s ease;
    width: 100%;
}
input[type="submit"]:hover{
    background-color: rgb(245, 185, 74);
}
.error{
    color: red;
    font-size: 12px;
}